{% extends 'base.html.twig' %}

{% block title %}Main
{% endblock %}

{% block body %}
	<main class="flex flex-col items-center mt-10"></main>
	<section class="flex gap-5 m-2 justify-center border-2 border-black rounded-lg py-2 mb-10 mx-5 bg-[#2F2323]">
		<img src="" id="card1" class="w-[10vw] h-auto zoom" alt="">
		<img src="" id="card2" class="w-[10vw] h-auto zoom" alt="">
		<img src="" id="card3" class="w-[10vw] h-auto zoom" alt="">
		<img src="" id="card4" class="w-[10vw] h-auto zoom" alt="">
		<img src="" id="card5" class="w-[10vw] h-auto zoom" alt="">
	</section>
	<section class="grid grid-rows-1 grid-flow-col justify-between mx-5 mb-5">
		<article class="border-2 border-black rounded-lg flex flex-col p-3 items-center justify-between w-[10vw] h-[30vh]" style="background-image: url({{ asset("./img/card_fond.jpg") }}); background-size: 92px 140px;">
			<span class="text-sm text-white">BANISH</span>
			<span class="text-sm text-white">LEGS</span>
		</article>
		<article class="border-2 border-black rounded-lg flex flex-col p-3 items-center justify-center w-[10vw] h-[30vh]" style="background-image: url({{ asset("./img/card_fond.jpg") }}); background-size: 92px 140px;">
			<span class="text-sm text-white">ARSENAL</span>
		</article>
		<article class="border-2 border-black rounded-lg flex flex-col p-3 items-center justify-between w-[10vw] h-[30vh]" style="background-image: url({{ asset("./img/card_fond.jpg") }}); background-size: 92px 140px;">
			<span class="text-sm text-white">BANISH</span>
			<span class="text-sm text-white">LEGS</span>
		</article>
	</section>
	<section class="grid grid-rows-1 grid-flow-col justify-between mx-5 mb-5">
		<article class="border-2 border-black rounded-lg flex flex-col p-3 items-center justify-between w-[10vw] h-[30vh]" style="background-image: url({{ asset("./img/card_fond.jpg") }}); background-size: 92px 140px;">
			<span class="text-sm text-white">CHEST</span>
			<span class="text-sm text-white">DECK</span>
		</article>
		<article class="border-2 border-black rounded-lg flex flex-col p-3 items-center justify-between w-[10vw] h-[30vh]" style="background-image: url({{ asset("./img/card_fond.jpg") }}); background-size: 92px 140px;">
			<span class="text-sm text-white">ARMS</span>
			<span class="text-sm text-white">PITCH</span>
		</article>
		<article class="border-2 border-black rounded-lg flex flex-col p-3 items-center justify-center w-[10vw] h-[30vh]" style="background-image: url({{ asset("./img/card_fond.jpg") }}); background-size: 92px 140px;">
			<span class="text-sm text-white">WEAPON</span>
		</article>
		<article class="border-2 border-black rounded-lg flex flex-col p-3 items-center justify-center w-[10vw] h-[30vh]" style="background-image: url({{ asset("./img/card_fond.jpg") }}); background-size: 92px 140px;">
			<span class="text-sm text-white">HERO</span>
		</article>
		<article class="border-2 border-black rounded-lg flex flex-col p-3 items-center justify-center w-[10vw] h-[30vh]" style="background-image: url({{ asset("./img/card_fond.jpg") }}); background-size: 92px 140px;">
			<span class="text-sm text-white">WEAPON</span>
		</article>
		<article class="border-2 border-black rounded-lg flex flex-col p-3 items-center justify-between w-[10vw] h-[30vh]" style="background-image: url({{ asset("./img/card_fond.jpg") }}); background-size: 92px 140px;">
			<span class="text-sm text-white">PITCH</span>
			<span class="text-sm text-white">ARMS</span>
		</article>
		<article class="border-2 border-black rounded-lg flex flex-col p-3 items-center justify-between w-[10vw] h-[30vh]" style="background-image: url({{ asset("./img/card_fond.jpg") }}); background-size: 92px 140px;">
			<span class="text-sm text-white">DECK</span>
			<span class="text-sm text-white">CHEST</span>
		</article>
	</section>
	<section class="grid grid-rows-1 grid-flow-col gap-3 justify-between mx-5 mb-5">
		<article class="border-2 border-black rounded-lg flex flex-col p-3 items-center justify-between w-[10vw] h-[30vh]" style="background-image: url({{ asset("./img/card_fond.jpg") }}); background-size: 92px 140px;">
			<span class="text-sm text-white">GRAVEYARD</span>
			<span class="text-sm text-white">HEAD</span>
		</article>
		<article class="border-2 border-black rounded-lg flex flex-col p-3 items-center justify-between w-[10vw] h-[30vh]" style="background-image: url({{ asset("./img/card_fond.jpg") }}); background-size: 92px 140px;">
			<span class="text-sm text-white">GRAVEYARD</span>
			<span class="text-sm text-white">HEAD</span>
		</article>
	</section>
	<section class="justify-between mx-5 mb-5">
		<article class="border-2 border-black rounded-lg flex flex-col p-3 items-center justify-center w-full h-[30vh]" style="background-image: url({{ asset("./img/card_fond.jpg") }}); background-size: 910px 140px;">
		<span class="text-sm text-white">COMBAT CHAIN</span>
		</article>
	</section>
	<section class="grid grid-rows-1 grid-flow-col gap-3 justify-between mx-5 mb-5">
		<article class="border-2 border-black rounded-lg flex flex-col p-3 items-center justify-between w-[10vw] h-[30vh]" style="background-image: url({{ asset("./img/card_fond.jpg") }}); background-size: 92px 140px;">
			<span class="text-sm text-white">GRAVEYARD</span>
			<span class="text-sm text-white">HEAD</span>
		</article>
		<article class="border-2 border-black rounded-lg flex flex-col p-3 items-center justify-between w-[10vw] h-[30vh]" style="background-image: url({{ asset("./img/card_fond.jpg") }}); background-size: 92px 140px;">
			<span class="text-sm text-white">GRAVEYARD</span>
			<span class="text-sm text-white">HEAD</span>
		</article>
	</section>
	<section class="grid grid-rows-1 grid-flow-col gap-3 justify-between mx-5 mb-5">
		<article class="border-2 border-black rounded-lg flex flex-col p-3 items-center justify-between w-[10vw] h-[30vh]" style="background-image: url({{ asset("./img/card_fond.jpg") }}); background-size: 92px 140px;">
			<span class="text-sm text-white">CHEST</span>
			<span class="text-sm text-white">DECK</span>
		</article>
		<article class="border-2 border-black rounded-lg flex flex-col p-3 items-center justify-between w-[10vw] h-[30vh]" style="background-image: url({{ asset("./img/card_fond.jpg") }}); background-size: 92px 140px;">
			<span class="text-sm text-white">ARMS</span>
			<span class="text-sm text-white">PITCH</span>
		</article>
		<article class="border-2 border-black rounded-lg flex flex-col p-3 items-center justify-center w-[10vw] h-[30vh]" style="background-image: url({{ asset("./img/card_fond.jpg") }}); background-size: 92px 140px;">
			<span class="text-sm text-white">WEAPON</span>
		</article>
		<article class="border-2 border-black rounded-lg flex flex-col p-3 items-center justify-center w-[10vw] h-[30vh]" style="background-image: url({{ asset("./img/card_fond.jpg") }}); background-size: 92px 140px;">
			<span class="text-sm text-white">HERO</span>
		</article>
		<article class="border-2 border-black rounded-lg flex flex-col p-3 items-center justify-center w-[10vw] h-[30vh]" style="background-image: url({{ asset("./img/card_fond.jpg") }}); background-size: 92px 140px;">
			<span class="text-sm text-white">WEAPON</span>
		</article>
		<article class="border-2 border-black rounded-lg flex flex-col p-3 items-center justify-between w-[10vw] h-[30vh]" style="background-image: url({{ asset("./img/card_fond.jpg") }}); background-size: 92px 140px;">
			<span class="text-sm text-white">PITCH</span>
			<span class="text-sm text-white">ARMS</span>
		</article>
		<article class="border-2 border-black rounded-lg flex flex-col p-3 items-center justify-between w-[10vw] h-[30vh]" style="background-image: url({{ asset("./img/card_fond.jpg") }}); background-size: 92px 140px;">
			<span class="text-sm text-white">DECK</span>
			<span class="text-sm text-white">CHEST</span>
		</article>
	</section>
	<section class="grid grid-rows-1 grid-flow-col gap-3 justify-between mx-5 mb-5">
		<article class="border-2 border-black rounded-lg flex flex-col p-3 items-center justify-between w-[10vw] h-[30vh]" style="background-image: url({{ asset("./img/card_fond.jpg") }}); background-size: 92px 140px;">
			<span class="text-sm text-white">BANISH</span>
			<span class="text-sm text-white">LEGS</span>
		</article>
		<article class="border-2 border-black rounded-lg flex flex-col p-3 items-center justify-center w-[10vw] h-[30vh]" style="background-image: url({{ asset("./img/card_fond.jpg") }}); background-size: 92px 140px;">
			<span class="text-sm text-white">ARSENAL</span>
		</article>
		<article class="border-2 border-black rounded-lg flex flex-col p-3 items-center justify-between w-[10vw] h-[30vh]" style="background-image: url({{ asset("./img/card_fond.jpg") }}); background-size: 92px 140px;">
			<span class="text-sm text-white">CHEST</span>
			<span class="text-sm text-white">DECK</span>
		</article>
	</section>

	<section class="flex gap-5 m-2 justify-center border-2 border-black rounded-lg py-2 bg-[#2F2323] mx-5 my-10">
		<img src="" id="card6" class="w-[10vw] h-auto zoom" alt="">
		<img src="" id="card7" class="w-[10vw] h-auto zoom" alt="">
		<img src="" id="card8" class="w-[10vw] h-auto zoom" alt="">
		<img src="" id="card9" class="w-[10vw] h-auto zoom" alt="">
		<img src="" id="card10" class="w-[10vw] h-auto zoom" alt="">
	</section>
	<script src="{{ asset("./cards.js")}}"></script>
{% endblock %}
